<h1>Топ компаний</h1>


<%= form_with scope: :company, url: companys_path, local: true do |form| %>
  <p>
    <%= button_to 'Parse', companys_path %>
  </p>

<% end %>

<p>
  <%= button_to 'Show', companys_path, :method => :get %>
</p>


<table>
  <tr>
    <th>Наименование</th>
    <th>Стоимость акций</th>
    <th></th>
  </tr>

  <% @companys.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.price %></td>
      <td><%= button_to 'Удалить', company_path(company),
                        method: :delete,
                        data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>