<center>

<h1>Топ компаний</h1>

  <p>
    <%= button_to 'Parse', companys_path %>
  </p>

<p>
  <%= button_to 'Show', companys_path, :method => :get%>
</p>

<p>
  <%= button_to 'Удалить всё', destroy_all_companys_path,
                :method => :get,
                data: { confirm: 'Произойдет очистка БД. Вы уверены?' } %>
</p>

<form id="myform" style="display: none">
<table id="tbshow" border="2" align="center">
  <tr>
    <th>Наименование</th>
    <th>Стоимость акций</th>
    <th></th>
  </tr>

  <% @companys.each do |company| %>
    <tr id="12">
      <td><%= company.name %></td>
      <td><%= company.price %></td>
      <td><%= button_to 'Удалить', company_path(company),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>
</form>

  <script>
      window.onload = function() {
           if (document.getElementById('12').hidden==false)
              document.getElementById('myform').style.display='block';
      };
   </script>

</center>